@charset "utf-8";
@font-face{
    font-family:"rei";
    src:url("../../Styles/font/rei.eot?20130123");
    src:url("../../Styles/font/rei.eot?20130123#iefix") format("embedded-opentype"),
        url("../../Styles/font/rei.woff?20130123") format("woff"),
        url("../../Styles/font/rei.ttf?20130123") format("truetype"),
        url("../../Styles/font/rei.svg?20130123#rei") format("svg")
}
.iconfont {
    font-family: "rei";
    font-style: normal;
    font-weight: normal;
}
.i-banner {
    background: url("../../images/login/src.jpg") repeat-x scroll 550px center #2c436f;
}
.global-top-a .global-top {
    background: url(../../images/login/headbg.png) repeat-x;
}
.global-common-a .global-nav-item .iconfont {
    color: #0080d9;
}
.global-common-a .global-nav-item a:hover, .global-common-a .global-nav-item-current a {
    color: #0080d9;
}
.global-common-a .global-subnav-item a:hover{color:#0080d9}
/*footer*/
.ui-footer {
    border-top: 1px solid #cccccc;
    color: #808080;
    height: 100px;
    margin-top: 30px;
}
.ui-footer-ctn {
    border-top: 1px solid #ffffff;
    padding-top: 15px;
    text-align: center;
}

.ui-footer-link a {
    padding: 0 3px 0 2px;
}
.ui-footer .ui-separator {
    font-weight: normal;
}
.ui-footer-copyright, .ui-footer-phone {
    padding-top: 10px;
}

.copyright, .copyright a, .copyright a:hover {
    color: #808080;
}
.copyright, .copyright a, .copyright a:hover {
    color: #808080;
}
.ui-footer-copyright a, .ui-footer-copyright a:hover {
    color: #808080;
}
.server {
    color: #fff;
}
/*三状态栏*/
.i-assets-balance {
    width: 33.3%;
}
.i-assets-2rows-2col {
    width: 33.3%;
}
.i-assets-2rows-2col {
    width: 33.3%;
}
/*案件表格*/
.ui-switchable-nav .ui-switchable-trigger {
    color: #fff;
}
.ui-switchable-nav .ui-switchable-active {
    background-color: #0096ff;
    color: #fff;
    font-size: 14px;
    position: relative;
}
.i-trend .consume .ui-record-table .time p,.ui-record-table td .consume-title a,.i-trend .consume .ui-record-table .status p{
   font-weight:bold
}
.i-trend .header {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #08c;
    border-color: #e1e1e1 #e1e1e1 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    height: 40px;
}
.i-trend .header .ebill-link {color:#fff}



