@charset "utf-8";
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body, input, textarea {
    font-family: verdana;
}
body {
    font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",宋体;
    margin: 0;
    min-width: 1000px;
    padding: 0;
}
a, input, select {
    font-size: 12px;
}
input, button, select, textarea {
    outline: medium none;
}
textarea {
    resize: none;
}
form, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none outside none;
}
img, table {
    border: 0 none;
}
a {
    color: #333;
    transition: color 0.2s ease 0s;
    outline: medium none;
    text-decoration: none;
}
a:link {
    color: #08c;
}
ins, a {
    text-decoration: none;
}
*::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #08c;
    color: #fff;
}
em {
    font-style: normal;
    font-weight: 500;
}
div {
    margin:0;
    padding:0;
}